body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: flex;
  flex-wrap: wrap;
}

header label {
  z-index: 99;
  position: relative;
  background-color: #fff;
  padding: 0 10px;
}

.App {
  padding: 1rem;
}
h1 {
  padding: 0 1rem;
}

header .MuiInputBase-formControl,
header .MuiOutlinedInput-input,
header .MuiOutlinedInput-root,
header .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  min-width: 200px;
  height: 55px;
  margin-right: 15px !important;
}

header .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  height: 55px;
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 0 0.2rem;
  }
  header > div {
    width: 95%;
  }
  header .MuiInputBase-formControl,
  header .MuiOutlinedInput-input,
  header .MuiOutlinedInput-root {
    width: 100% !important;
    margin-bottom: 15px !important;
    margin-left: 15px !important;
  }

  header label {
    margin-left: 15px !important;
  }

  header .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  header .MuiButton-contained {
    margin-left: 15px !important;
    width: 100% !important;
    margin-right: 15px;
  }
}
